@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap");

body {
  font-family: "Poppins";
  font-style: normal;
  background: #E5E5E5;
}

.nav-bar-menu {
  background: #fff;
}

.nav-bar-menu .navbar-brand {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

.nav-bar-menu button {
  border: none;
}

.nav-bar-menu ul a {
  font-weight: 500;
  font-size: 15px;
  color: #344563;
}
